In [18]:
library(qvalue)

In [19]:
# dynamic effects
dynamic_file = "/share/ScratchGeneral/anncuo/OneK1K/dyn_eqtl_linear-sq_data.RDS"

In [20]:
dt = readRDS(dynamic_file)
head(dt,2)
length(unique(dt[dt$fdr_sq<0.05,]$id))

  GeneID snpid
1 PPA1   10:71963608_A
2 GDI2   10:5855403_C
  anova
1 15.000000, 16.000000, -7871.558581, -7870.257037, -7771.993991, -7764.054808, 3950.779291, 3951.128519, -7901.558581, -7902.257037, NA, 0.698456, NA, 1.000000, NA, 0.403303
2 15.0000000, 16.0000000, -5414.1029960, -5413.4603514, -5314.5384059, -5307.2581219, 2722.0514980, 2722.7301757, -5444.1029960, -5445.4603514, NA, 1.3573554, NA, 1.0000000, NA, 0.2439963
  p.value   fdr
1 0.4033030 0.7946625
2 0.2439963 0.6506389
  anova_sq
1 16.0000000, 18.0000000, -8275.2382811, -8272.0825183, -8169.0360516, -8152.6050101, 4153.6191406, 4154.0412591, -8307.2382811, -8308.0825183, NA, 0.8442371, NA, 2.0000000, NA, 0.6556563
2 16.0000000, 18.0000000, -5869.3416840, -5867.0102079, -5763.1394545, -5747.5326997, 2950.6708420, 2951.5051039, -5901.3416840, -5903.0102079, NA, 1.6685239, NA, 2.0000000, NA, 0.4341948
  p.value_sq fdr_sq    id                 singular singular_sq
1 0.6556563  1.0000000 10:71963608_A-PPA1 FALSE    FALSE
2 0.4341948  0.8882569 10:5855403_C-GDI2  FALSE    FALSE

[1] 303

In [21]:
myfile = "/share/ScratchGeneral/anncuo/OneK1K/CRM_interaction/Bcells_Bcell_eQTLs/summary.csv"
df = read.csv(myfile, row.names=1)
nrow(df)

[1] 128

In [22]:
head(df)

  gene      n_snps snp_id      pv_raw       pv_Bonf
0 VPREB3    1      22:24093998 4.927083e-02 4.927083e-02
1 ARFGAP3   1      22:43028803 1.504560e-02 1.504560e-02
2 RPS8      1      1:45241285  2.315208e-02 2.315208e-02
3 SMDT1     2      22:42468535 9.429772e-08 1.885954e-07
4 RP4-539M6 1      22:31025552 2.832393e-02 2.832393e-02
5 CD96      2      3:111253069 1.009690e-07 2.019380e-07

In [23]:
df$chr = as.numeric(gsub("\\:.*","",df$snp_id))
table(df$chr)

 1  2  3  4  5  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22
 6  6  8  7  4  4  9  3 10  6  2  9  9  3  2  7  7  6  3  7 10

In [24]:
df$qv = qvalue(df$pv_Bonf)$qvalues
c(nrow(df),
nrow(df[df$qv<0.05,]),
nrow(df[df$qv<0.05,])/nrow(df))

[1] 128.000000  82.000000   0.640625

In [25]:
df$eqtl = paste0(df$gene,"-",df$snp_id)
head(df$eqtl)

[1] "VPREB3-22:24093998"    "ARFGAP3-22:43028803"   "RPS8-1:45241285"
[4] "SMDT1-22:42468535"     "RP4-539M6-22:31025552" "CD96-3:111253069"

In [26]:
dt$eqtl = paste0(dt$GeneID,"-",gsub("_.*","",dt$snpid))
head(dt$eqtl)

[1] "PPA1-10:71963608"  "GDI2-10:5855403"   "OPTN-10:13160035"
[4] "MGMT-10:131279791" "VDAC2-10:76970613" "VCL-10:75913033"

In [27]:
eqtls1 = df[df$qv<0.05,]$eqtl
eqtls2 = dt[dt$fdr_sq<0.05,]$eqtl

In [28]:
length(eqtls1)
length(eqtls2)

[1] 82

[1] 303

In [29]:
length(eqtls1[eqtls1 %in% eqtls2])

[1] 24