In [3]:
import pandas as pd

In [4]:
### example fvf (feature variant filter file)

In [5]:
# Filter on specific gene-SNP pairs
# eQTL from B cells (B IN + B Mem)
input_files_dir = "/share/ScratchGeneral/anncuo/OneK1K/input_files_CellRegMap/"
Bcell_eqtl_file = input_files_dir+"fvf_Bcell_eqtls.csv"
Bcell_eqtl = pd.read_csv(Bcell_eqtl_file, index_col = 0)
Bcell_eqtl.head()

         feature        snp_id  chrom
1  RP11-298J20.3  10:126644482     10
2           PPA1   10:71963608     10
3           GDI2    10:5855403     10
4           OPTN   10:13160035     10
5           MGMT  10:131279791     10

In [6]:
genes = Bcell_eqtl["feature"].unique()

In [7]:
len(genes)

1466

In [8]:
Bcell_eqtl.shape

(3264, 3)

In [29]:
input_files_dir = "/share/ScratchGeneral/anncuo/OneK1K/input_files_CellRegMap/"
unique_pairs_file = input_files_dir+"outputPairs.csv"
unique_pairs = pd.read_csv(unique_pairs_file, header=None)
unique_pairs.columns = ["GeneName","chrom"]
unique_pairs.head()

  GeneName  chrom
0    AARS2      6
1    ABCA1      9
2    ABCA5     17
3  ABHD16A      6
4   ABRACL      6

In [31]:
unique_pairs.shape

(1466, 2)

In [32]:
len(unique_pairs["GeneName"].unique())

1466

In [ ]:
# cut sort and uniq -u