In [128]:
library(googleCloudStorageR)
library(gargle)
library(dplyr)
library(SKAT)

In [129]:
scope <-c("https://www.googleapis.com/auth/cloud-platform")
token <- token_fetch(scopes = scope)
gcs_auth(token = token)

In [130]:
googleCloudStorageR::gcs_global_bucket("gs://cpg-tob-wgs-test")

Set default bucket name to 'cpg-tob-wgs-test'

In [131]:
smf <- googleCloudStorageR::gcs_get_object("scrna-seq/grch38_association_files/OneK1K_CPG_IDs.tsv")
smf_df = as.data.frame(smf)
colnames(smf_df)[2] = "CPG_ID"
head(smf_df)

Downloaded scrna-seq%2Fgrch38_association_files%2FOneK1K_CPG_IDs.tsv

Rows: 983 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: "\t"
chr (3): OneK1K_ID, InternalID, ExternalID

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Object parsed to class: spec_tbl_df tbl_df tbl data.frame

  OneK1K_ID CPG_ID   ExternalID
1 926_927   CPG9787  TOB1801
2 930_931   CPG9829  TOB1805
3 946_947   CPG9985  TOB1821
4 943_944   CPG9951  TOB1818
5 947_948   CPG9993  TOB1822
6 949_950   CPG10017 TOB1824

In [132]:
y <- googleCloudStorageR::gcs_get_object("v0/vpreb3_B_naive_expression.csv")
y_df = as.data.frame(y)
colnames(y_df)[1] = 'OneK1K_ID'
head(y_df)

Downloaded v0%2Fvpreb3_B_naive_expression.csv

New names:
• `` -> `...1`
Rows: 969 Columns: 2
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): ...1
dbl (1): VPREB3

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Object parsed to class: spec_tbl_df tbl_df tbl data.frame

  OneK1K_ID VPREB3
1 686_687   0.9292035
2 682_683   0.6938776
3 692_693   1.0204082
4 683_684   0.7969925
5 687_688   0.9852941
6 685_686   0.6000000

In [133]:
# G <- googleCloudStorageR::gcs_get_object("v0/vpreb3_rare_regulatory.csv")
G <- googleCloudStorageR::gcs_get_object("v0/vpreb3_rare_promoter.csv")
G_df = as.data.frame(G)
colnames(G_df)[1] = "CPG_ID"
head(G_df)

Downloaded v0%2Fvpreb3_rare_promoter.csv

New names:
• `` -> `...1`
Rows: 1061 Columns: 178
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr   (1): ...1
dbl (177): chr22:23715912:G:A, chr22:23715916:C:A, chr22:23715930:A:G, chr22...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Object parsed to class: spec_tbl_df tbl_df tbl data.frame

  CPG_ID chr22:23715912:G:A chr22:23715916:C:A chr22:23715930:A:G
1 CPG18  2                  2                  2
2 CPG26  2                  2                  2
3 CPG34  2                  2                  2
4 CPG42  2                  2                  2
5 CPG59  2                  2                  2
6 CPG67  2                  2                  2
  chr22:23715973:G:T chr22:23716018:A:G chr22:23716098:C:T chr22:23716279:C:G
1 2                  2                  2                  2
2 2                  2                  2                  2
3 2                  2                  2                  2
4 2                  2                  2                  2
5 2                  2                  2                  2
6 2                  2                  2                  2
  chr22:23716292:C:T chr22:23716297:C:T ⋯ chr22:23787582:C:T chr22:23787591:T:C
1 2                  2                  ⋯ 2                  2
2 2                  2                  ⋯ 2                  2
3 2                  2                  ⋯ 2                  2
4 2                  2                  ⋯ 2                  2
5 2                  2                  ⋯ 2                  2
6 2                  2                  ⋯ 2                  2
  chr22:23787608:T:C chr22:23787642:C:T chr22:23788084:G:A chr22:23788178:A:G
1 2                  2                  2                  2
2 2                  2                  2                  2
3 2                  2                  2                  2
4 2                  2                  2                  2
5 2                  2                  2                  2
6 2                  2                  2                  2
  chr22:23788250:C:T chr22:23788278:T:C chr22:23788289:A:G chr22:23788386:T:C
1 2                  2                  2                  2
2 2                  2                  2                  2
3 2                  2                  2                  2
4 2                  2                  2                  2
5 2                  2                  2                  2
6 2                  2                  2                  2

In [134]:
nrow(G_df)
nrow(y_df)
nrow(smf_df)

[1] 1061

[1] 969

[1] 983

In [135]:
df0 = inner_join(smf_df,y_df)
nrow(df0)
head(df0,2)

Joining, by = "OneK1K_ID"

[1] 969

  OneK1K_ID CPG_ID  ExternalID VPREB3
1 926_927   CPG9787 TOB1801    1.105769
2 930_931   CPG9829 TOB1805    1.237500

In [136]:
df1 = inner_join(df0,G_df)
nrow(df1)
head(df1,2)

Joining, by = "CPG_ID"

[1] 887

  OneK1K_ID CPG_ID  ExternalID VPREB3   chr22:23715912:G:A chr22:23715916:C:A
1 926_927   CPG9787 TOB1801    1.105769 2                  2
2 930_931   CPG9829 TOB1805    1.237500 2                  2
  chr22:23715930:A:G chr22:23715973:G:T chr22:23716018:A:G chr22:23716098:C:T ⋯
1 2                  2                  2                  2                  ⋯
2 2                  2                  2                  2                  ⋯
  chr22:23787582:C:T chr22:23787591:T:C chr22:23787608:T:C chr22:23787642:C:T
1 2                  2                  2                  2
2 2                  2                  2                  2
  chr22:23788084:G:A chr22:23788178:A:G chr22:23788250:C:T chr22:23788278:T:C
1 2                  2                  2                  2
2 2                  2                  2                  2
  chr22:23788289:A:G chr22:23788386:T:C
1 2                  2
2 2                  2

In [137]:
y.c = matrix(df1[,4], ncol=1)
dim(y.c)
head(y.c,2)

[1] 887   1

     [,1]
[1,] 1.105769
[2,] 1.237500

In [139]:
Z = as.matrix(df1[,5:ncol(df1)])
dim(Z)
head(Z,2)

[1] 887 177

     chr22:23715912:G:A chr22:23715916:C:A chr22:23715930:A:G
[1,] 2                  2                  2
[2,] 2                  2                  2
     chr22:23715973:G:T chr22:23716018:A:G chr22:23716098:C:T
[1,] 2                  2                  2
[2,] 2                  2                  2
     chr22:23716279:C:G chr22:23716292:C:T chr22:23716297:C:T
[1,] 2                  2                  2
[2,] 2                  2                  2
     chr22:23716298:G:A ⋯ chr22:23787582:C:T chr22:23787591:T:C
[1,] 2                  ⋯ 2                  2
[2,] 2                  ⋯ 2                  2
     chr22:23787608:T:C chr22:23787642:C:T chr22:23788084:G:A
[1,] 2                  2                  2
[2,] 2                  2                  2
     chr22:23788178:A:G chr22:23788250:C:T chr22:23788278:T:C
[1,] 2                  2                  2
[2,] 2                  2                  2
     chr22:23788289:A:G chr22:23788386:T:C
[1,] 2                  2
[2,] 2                  2

In [140]:
# Z= 2-Z
# head(Z,2)

In [141]:
mean(Z)

[1] 1.994586

In [142]:
X <- matrix(1, nrow=nrow(df1), ncol=1)  # intercept only

In [143]:
# run null model (no Kinship)
obj <- SKAT_Null_Model(y.c ~ X, out_type = "C")

In [144]:
# get all three p-values
pv_skat <- SKAT(Z, obj)$p.value  # SKAT
pv_burden <- SKAT(Z, obj, r.corr = 1)$p.value  # burden
pv_skat_o <- SKAT(Z, obj, method="SKATO")$p.value  # SKAT-O

Warning message:
“21 SNPs with either high missing rates or no-variation are excluded!”
Warning message:
“Genotypes of some variants are not the number of minor alleles! These genotypes are flipped!”
Warning message:
“21 SNPs with either high missing rates or no-variation are excluded!”
Warning message:
“Genotypes of some variants are not the number of minor alleles! These genotypes are flipped!”
Warning message:
“21 SNPs with either high missing rates or no-variation are excluded!”
Warning message:
“Genotypes of some variants are not the number of minor alleles! These genotypes are flipped!”

In [111]:
print(paste0("no Kinship p-values, SKAT: ", pv_skat, ", burden: ", pv_burden, ", SKAT-O: ", pv_skat_o))

[1] "no Kinship p-values, SKAT: 0.571862314433209, burden: 0.482128129068676, SKAT-O: 0.687188423690785"

In [112]:
smf2 <- googleCloudStorageR::gcs_get_object("v0/skat/smf_Bcells.csv")
smf2_df = as.data.frame(smf2)
colnames(smf2_df)[3] = "OneK1K_short_ID"
colnames(smf2_df)[4] = "OneK1K_ID"
smf2_df$OneK1K_short_ID = as.character(smf2_df$OneK1K_short_ID)
smf2_df$OneK1K_ID = as.character(smf2_df$OneK1K_ID)
smf2_df = smf2_df[,c("OneK1K_short_ID","OneK1K_ID")]
smf2_df = smf2_df[!duplicated(smf2_df), ]
head(smf2_df)

Downloaded v0%2Fskat%2Fsmf_Bcells.csv

New names:
• `` -> `...1`
Rows: 133716 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): phenotype_sample_id, individual_long
dbl (2): ...1, genotype_individual_id

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Object parsed to class: spec_tbl_df tbl_df tbl data.frame

  OneK1K_short_ID OneK1K_ID
1 687             686_687
2 693             692_693
4 691             690_691
5 683             682_683
7 684             683_684
8 689             688_689

In [113]:
df2 = inner_join(df1,smf2_df)
nrow(df2)
head(df2,2)

Joining, by = "OneK1K_ID"

[1] 887

  OneK1K_ID CPG_ID  ExternalID VPREB3   chr22:23715912:G:A chr22:23715916:C:A
1 926_927   CPG9787 TOB1801    1.105769 2                  2
2 930_931   CPG9829 TOB1805    1.237500 2                  2
  chr22:23715930:A:G chr22:23715973:G:T chr22:23716018:A:G chr22:23716098:C:T ⋯
1 2                  2                  2                  2                  ⋯
2 2                  2                  2                  2                  ⋯
  chr22:23787591:T:C chr22:23787608:T:C chr22:23787642:C:T chr22:23788084:G:A
1 2                  2                  2                  2
2 2                  2                  2                  2
  chr22:23788178:A:G chr22:23788250:C:T chr22:23788278:T:C chr22:23788289:A:G
1 2                  2                  2                  2
2 2                  2                  2                  2
  chr22:23788386:T:C OneK1K_short_ID
1 2                  927
2 2                  931

In [114]:
Kin <- googleCloudStorageR::gcs_get_object("v0/skat/grm_wide.csv")
K_df = as.data.frame(Kin)
colnames(K_df)[1] = "OneK1K_short_ID"
head(K_df)

Downloaded v0%2Fskat%2Fgrm_wide.csv

New names:
• `` -> `...1`
Rows: 1086 Columns: 1087
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr    (1): ...1
dbl (1086): 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Object parsed to class: spec_tbl_df tbl_df tbl data.frame

  OneK1K_short_ID 1             2            3             4
1 1                0.9956240654 -0.001683034 -0.0002661081  0.001418200
2 2               -0.0016830340  0.990941763  0.0044398019 -0.003153934
3 3               -0.0002661081  0.004439802  0.9953926206 -0.004176617
4 4                0.0014181999 -0.003153934 -0.0041766171  0.987741351
5 6               -0.0063316789  0.001034162  0.0029404028  0.002893333
6 7               -0.0040118601 -0.005874435  0.0009857011  0.004163183
  6            7             8             9             10            ⋯
1 -0.006331679 -0.0040118601 -0.0042191972  0.0003706529  0.0010878579 ⋯
2  0.001034162 -0.0058744354  0.0007705059 -0.0008247463 -0.0060888031 ⋯
3  0.002940403  0.0009857011 -0.0032733537 -0.0045801718  0.0018792396 ⋯
4  0.002893333  0.0041631833  0.0018823836 -0.0061948425 -0.0033671912 ⋯
5  0.995691180 -0.0032946456 -0.0055204518  0.0063747610 -0.0027786845 ⋯
6 -0.003294646  1.0258193016  0.0032259240 -0.0038815429 -0.0008186206 ⋯
  566_2         845_2         846_2         847_2        848_2
1 -0.0067786528 -0.0063865464 -0.0040660319 -0.002836337 -0.0013380554
2  0.0008301185 -0.0056833406 -0.0081763230 -0.004223224 -0.0048066438
3 -0.0051730075 -0.0048095244 -0.0048272689 -0.001408186 -0.0009993706
4 -0.0079546189 -0.0042896308  0.0001738437 -0.001351207 -0.0015957147
5  0.0048565795 -0.0007947208 -0.0009436099 -0.006319818 -0.0025102387
6 -0.0104554258  0.0011265093  0.0002466098 -0.001353858 -0.0079953130
  914_2         915_2         932_2        926_2         920_2
1 -0.0068302853 -0.0043465365 -0.003641180  5.665929e-03  0.0019155646
2 -0.0014566381 -0.0063909665  0.003178318 -8.430217e-05 -0.0027412763
3  0.0031769637  0.0001398614 -0.004222310  2.664416e-03  0.0033911315
4 -0.0060013668  0.0030513180 -0.002020036 -4.858702e-03 -0.0029082324
5 -0.0009128237 -0.0023892380 -0.002748890 -1.776705e-03 -0.0025428955
6 -0.0034070080  0.0023608375  0.007651643 -1.726293e-03  0.0006129453

In [115]:
df3 = inner_join(df2[,c("OneK1K_ID","OneK1K_short_ID")],K_df)
nrow(df3)
head(df3,2)

Joining, by = "OneK1K_short_ID"

[1] 887

  OneK1K_ID OneK1K_short_ID 1            2            3            4
1 926_927   927             -0.002082040  0.002814507 0.0050687967 -0.005382048
2 930_931   931             -0.006165706 -0.002125460 0.0003126949  0.001375515
  6             7           8            9             ⋯ 566_2
1 -7.216117e-05 -0.00109387 0.0001466751 -0.0009447348 ⋯ -0.00380159
2 -5.962496e-03 -0.00178255 0.0021431330  0.0017042165 ⋯  0.00457901
  845_2        846_2        847_2        848_2        914_2
1  0.005101329 -0.001775994 -0.001564455 -0.006169446  0.0002517663
2 -0.003375391 -0.003137690  0.002490708 -0.005270640 -0.0075630303
  915_2        932_2        926_2        920_2
1 -0.004468408 -0.003326218 -0.003138315  0.002217151
2  0.001668710 -0.001414110  0.001879005 -0.006219999

In [116]:
K = as.matrix(df3[,3:ncol(df3)])
K = K[,df3$OneK1K_short_ID]
dim(K)
head(K,2)

[1] 887 887

     927         931         947          944          948
[1,] 1.012457371 0.002191797  0.000112502  0.002743287 -2.796799e-06
[2,] 0.002191797 0.996553898 -0.006745255 -0.003911689 -1.869085e-03
     950          940         951           939          946           ⋯
[1,] 0.0008357663 0.003867427 -5.040026e-06 -0.003370313 -0.0074171163 ⋯
[2,] 0.0049080253 0.002504207 -1.022920e-02 -0.006448955  0.0007719102 ⋯
     270          935          928          934          933
[1,] -0.002303091 -0.005486147 0.0056365444 0.0006464854 -0.001782146
[2,]  0.005681585  0.001589712 0.0009406523 0.0019203052 -0.001533605
     930         936           938          962          963
[1,] 0.002292525  0.0005799475  0.003305354 0.0004580415 -0.0005532986
[2,] 0.001294056 -0.0045075091 -0.004127056 0.0025109106 -0.0018802271

In [117]:
# run null model (with Kinship matrix)
obj_K <- SKAT_NULL_emmaX(y.c ~ X, K = K)

In [118]:
# get all three p-values
pv_skat <- SKAT(Z, obj_K)$p.value  # SKAT
pv_burden <- SKAT(Z, obj_K, r.corr = 1)$p.value  # burden
pv_skat_o <- SKAT(Z, obj_K, method="SKATO")$p.value  # SKAT-O

Warning message:
“21 SNPs with either high missing rates or no-variation are excluded!”
Warning message:
“21 SNPs with either high missing rates or no-variation are excluded!”
Warning message:
“21 SNPs with either high missing rates or no-variation are excluded!”

In [119]:
print(paste0("with Kinship p-values, SKAT: ", pv_skat, ", burden: ", pv_burden, ", SKAT-O: ", pv_skat_o))

[1] "with Kinship p-values, SKAT: 0.57099982523937, burden: 0.486295753966785, SKAT-O: 0.691699301521788"

In [125]:
library(LRTq)

In [126]:
E = y.c
G = Z

In [127]:
LRTq(expr = E, geno = G, causal_ratio = rep(0.30, ncol(G)), perm = 1000)

[1] 0.1198801